/* global */
html,
body {
	padding:0px;
	margin:0px;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 1.428;
	background-color: #e9e9e9;
}

/* page header */
header {
	padding-top: 10px;
	padding-bottom: 9px;
	margin: 0px 0px 20px;
	border-bottom: 1px solid #bfbfbf;
}
header h1 {
	margin-top:20px;
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.1;
}
header h1 small {
	font-size:24px;
	font-weight: normal;
	line-height: 1;
	color: #4c4c4c;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	margin-top:16px;
	margin-bottom: 16px;
	line-height: 1.1;
	font-weight: 500;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size:24px;
}

h3, h4, h5, h6 {
	font-size: 18px;
}

/* body copy */
p {
	margin: 16px 0px;
}
p.lead {
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.justify {
	text-align: justify;
	text-justify: newspaper;
}
span.underline {
	text-decoration: underline;
}
a, a:link {
	color: #005393;
	text-decoration: underline;
	outline: none;
}
a:visited {
	color: #720094;
}
a:hover {
	text-decoration: none;
}
blockquote {
	display: block;
	padding: 10px 20px;
	margin: 0px 0px 6px;
	border-left: 5px solid #bfbfbf;
}
blockquote p {
	font-size: 17.5px;
	font-weight: 300;
	line-height: 1.25;
	margin:0px 0px 10px;
}
blockquote p:last-child {
	margin-bottom: 0px;
}
blockquote small {
	display: block;
	line-height: 1.428;
	color:#4c4c4c;
	font-size: 85%;
}
blockquote small:before {
	content: '\2014 \00A0';
}
blockquote.quote {
	border: 0;
	quotes: "\201C""\201D";
}
blockquote.quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote.quote p {
  display: inline;
}
blockquote.quote small {
	text-align: right;
	margin:8px 0px 0px 0px;
	padding-right: 12px;
	display: inline;
	font-size: 75%;
}
blockquote.pull-right {
	padding-right:15px;
	padding-left: 0;
	border-right:5px solid #bfbfbf;
	border-left: 0;
	text-align: right;
}
ul, ol {
	margin-top: 0px;
}
ul li,
ol li {
	margin-bottom: 14px;
}
ul li ul li,
ol li ol li,
ol li ul li,
ul li ol li {
	margin-bottom: 5px;
}
ul li ul,
ol li ol,
ol li ul,
ul li ol {
	margin-top: 14px;
}
ul li ul {
	list-style: square;
}
ul.no-bullet,
ol.no-bullet,
ul.no-bullet ul,
ol.no-bullet ol,
ul.no-bullet ol,
ol.no-bullet ul {
	list-style: none;
}
.indent {
	text-indent: 40px;
}
.indent-all {
	padding-left:40px;
}
.hanging-indent {
    padding-left: 40px ;
    text-indent: -40px ;
}

/* layouts */
div.two-column {
	width: 100%;
	float: left;
	clear: both;
}
div.two-column > section {
	width:49%;
	float:left;
}
div.two-column > section:first-child {
	margin-right: 2%;
}

div.two-column.wide-right > section {
	width:66%;
	margin-right: 0;
}
div.two-column.wide-right > aside {
	width:32%;
	margin-right: 2%;
	float:left;
}

div.two-column.wide-left > section {
	width:66%;
	margin-right: 2%;
}
div.two-column.wide-left > aside {
	width:32%;
	float:left;
}

div.three-column {
	width: 100%;
	float: left;
	clear: both;
}
div.three-column > section {
	width:32%;
	margin-right: 2%;
	float:left;
}
div.three-column > section:last-child {
	margin-right: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
hr.wide {
	border-top:3px solid #bfbfbf;
}

/* emphasis */
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
abbr {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
small {
	font-size: 12px;
}
.text-info {
	color:#317594;
}
.text-success {
	color:#3b723b;
}
.text-warning {
	color:#a74e00;
}
.text-danger {
	color:#b94a4b;
}

/* tables */
table {
	width:100%;
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
table thead > tr > th {
	padding:8px;
	line-height: 1.428;
	vertical-align: bottom;
	border-bottom: 2px solid #727272;
}
table thead:first-child tr:first-child th {
	border-top: 0;
}
th {
	text-align: left;
}
table tbody > tr > td {
	padding:8px;
	line-height: 1.428;
	vertical-align: top;
	border-top: 1px solid #727272;
}
table.striped tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}
table.bordered {
	border: 1px solid #727272;
}
table.bordered > thead > tr > th,
table.bordered > tbody > tr > th,
table.bordered > tfoot > tr > th,
table.bordered > thead > tr > td,
table.bordered > tbody > tr > td,
table.bordered > tfoot > tr > td {
  border: 1px solid #727272;
}
table.bordered > thead > tr > th,
table.bordered > thead > tr > td {
  border-bottom-width: 2px;
}
table.hover > tbody > tr:hover > td,
table.hover > tbody > tr:hover > th {
	background-color: #f9f9f9;
}
table > thead > tr > td.info,
table > tbody > tr > td.info,
table > tfoot > tr > td.info,
table > thead > tr > th.info,
table > tbody > tr > th.info,
table > tfoot > tr > th.info,
table > thead > tr.info > td,
table > tbody > tr.info > td,
table > tfoot > tr.info > td,
table > thead > tr.info > th,
table > tbody > tr.info > th,
table > tfoot > tr.info > th {
	background-color: #b9e8ff;
}
table > thead > tr > td.success,
table > tbody > tr > td.success,
table > tfoot > tr > td.success,
table > thead > tr > th.success,
table > tbody > tr > th.success,
table > tfoot > tr > th.success,
table > thead > tr.success > td,
table > tbody > tr.success > td,
table > tfoot > tr.success > td,
table > thead > tr.success > th,
table > tbody > tr.success > th,
table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
table > thead > tr > td.warning,
table > tbody > tr > td.warning,
table > tfoot > tr > td.warning,
table > thead > tr > th.warning,
table > tbody > tr > th.warning,
table > tfoot > tr > th.warning,
table > thead > tr.warning > td,
table > tbody > tr.warning > td,
table > tfoot > tr.warning > td,
table > thead > tr.warning > th,
table > tbody > tr.warning > th,
table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
table > thead > tr > td.danger,
table > tbody > tr > td.danger,
table > tfoot > tr > td.danger,
table > thead > tr > th.danger,
table > tbody > tr > th.danger,
table > tfoot > tr > th.danger,
table > thead > tr.danger > td,
table > tbody > tr.danger > td,
table > tfoot > tr.danger > td,
table > thead > tr.danger > th,
table > tbody > tr.danger > th,
table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* footer */
footer {
	width:954px;
	border-top: 1px #131313 solid;
	margin:0px 0px 0px 1px;
	color:#cbcbcb;
	font-size:12px;
}
footer p {
	margin: 0;
	line-height: 0;
	padding:30px 15px 15px 15px;
	min-height: 15px;
	background-color: #6e6e6e;
	box-shadow: 0px 0px 6px #888;
}
footer p:after {
	content: "\00A9  Board of Regents. University of Wisconsin System. All rights reserved.";
}
footer.no-text p:after {
	content: "";
}
footer p a.course-support,
footer p a.course-support:visited {
	display: inline-block;
	line-height: 0;
	padding: 15px 10px;
	color:#b1b1b1;
	text-decoration: none;
	border-radius: 5px;
	background-color: #373737;
	margin-right: 15px;
}
footer p a.course-support:hover {
	color:#e9e9e9;
	background-color: #1f1f1f;
}

/* helpers */
.page-container {
	width: 924px;
	min-height: 100%;
	height: auto !important;
	margin: 0 0 -61px 1px;
	background-color: #fff;
	padding:0px 15px 0px 15px;
	box-shadow: 0px 0px 4px #888;
}
.push {
	height: 90px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* labels */
.label {
	display: inline;
	padding: .1em .4em .1em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	/* vertical-align: baseline; */
	border-radius: .25em;
	background-color: #999999;
}
.label.success {
	background-color: #5cb85c;
}
.label.info {
	background-color: #5bc0de;
}
.label.warning {
	background-color: #f0ad4e;
}
.label.danger {
	background-color: #d9534f;
}

/* highlight */
.highlight {
	display: inline;
	padding: .2em .3em .3em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #fff3b4;
	border-radius: 5px;
}

/* callouts */
.callout {
	margin:16px 0;
	padding:15px 30px 15px 15px;
	background-color: #eeeeee;
	border-color: #7e7e7e;
	border-left: 10px solid #7e7e7e;
	border-right: 5px solid #b2b2b2;
}
.callout h4 {
	margin-top: 0px;
}
.callout p:last-child {
	margin-bottom: 0px;
}
.callout.vertical {
	padding:15px;
	border-left: 0;
	border-right: 0;
	border-top:10px solid #7e7e7e;
	border-bottom: 5px solid #b2b2b2;
}
.callout.success {
	background-color: #eeffef;
	border-color: #64b660;
	border-left-color: #64b660;
	border-right-color: #c0f3bd;
	border-top-color: #64b660;
	border-bottom-color: #c0f3bd;
}
.callout.info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
	border-left-color: #4dabe9;
	border-right-color: #d0e3f0;
	border-top-color: #4dabe9;
	border-bottom-color: #d0e3f0;
}
.callout.warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
	border-left-color: #edce42;
	border-right-color: #f1e7bc;
	border-top-color: #edce42;
	border-bottom-color: #f1e7bc;
}
.callout.danger {
	background-color: #fcf2f2;
	border-color: #dfb5b4;
	border-left-color: #cc4745;
	border-right-color: #dfb5b4;
	border-top-color: #cc4745;
	border-bottom-color: #dfb5b4;
}
.callout h4.icon {
	height: 30px;
	padding-left: 55px;
	padding-top:20px;
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
.callout h4.icon.reading {
	background-image: url("../img/icon_reading.png");
}
.callout h4.icon.resource {
	background-image: url("../img/icon_resource.png");
}
.callout h4.icon.assignment {
	background-image: url("../img/icon_assignment.png");
}
.callout h4.icon.discussion {
	background-image: url("../img/icon_discussion.png");
}
.callout h4.icon.instruction {
	background-image: url("../img/icon_instruction.png");
}
.vertical.left {
	width: 250px;
	margin: 5px 16px 0px 0px;
	float: left;
}
.vertical.right {
	width: 250px;
	margin: 5px 0px 0px 16px;
	float: right;
	text-align: left;
}
/* buttons */
.btn, a.btn, button.btn {
	display: inline-block;
	border-top: 1px solid #737373;
	background: #949596;
	background: -webkit-gradient(linear, left top, left bottom, from(#585c5c), to(#949596));
	background: -webkit-linear-gradient(top, #585c5c, #949596);
	background: -moz-linear-gradient(top, #585c5c, #949596);
	background: -ms-linear-gradient(top, #585c5c, #949596);
	background: -o-linear-gradient(top, #585c5c, #949596);
	padding: 9.5px 19px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
}
.btn:hover, a.btn:hover {
	border-top-color: #28597a;
	background: #404040;
	color: #ffffff;
}
button.btn {
	border: 0;
	padding: 11.2px 19px;
	margin: 0;
}
/* IE hack fix*/
html>/**/body button.btn {
	padding:9.5px 19px;
}
.btn.info, a.btn.info, button.btn.info {
	border-top: 1px solid #5db0e3;
	background: #4dabe9;
	background: -webkit-gradient(linear, left top, left bottom, from(#238dcf), to(#4dabe9));
	background: -webkit-linear-gradient(top, #238dcf, #4dabe9);
	background: -moz-linear-gradient(top, #238dcf, #4dabe9);
	background: -ms-linear-gradient(top, #238dcf, #4dabe9);
	background: -o-linear-gradient(top, #238dcf, #4dabe9);
}
.btn.info:hover, a.btn.info:hover, button.btn.info:hover {
	border-top-color: #1f82bf;
	background: #1f82bf;
}
.btn.success, a.btn.success, button.btn.success {
	border-top: 1px solid #57d451;
	background: #65b660;
	background: -webkit-gradient(linear, left top, left bottom, from(#109e08), to(#65b660));
	background: -webkit-linear-gradient(top, #109e08, #65b660);
	background: -moz-linear-gradient(top, #109e08, #65b660);
	background: -ms-linear-gradient(top, #109e08, #65b660);
	background: -o-linear-gradient(top, #109e08, #65b660);
}
.btn.success:hover, a.btn.success:hover, button.btn.success:hover {
	border-top-color: #159c0b;
	background: #159c0b;
}
.btn.warning, a.btn.warning, button.btn.warning {
	border-top: 1px solid #f2d450;
	background: #edce42;
	background: -webkit-gradient(linear, left top, left bottom, from(#c7a50e), to(#edce42));
	background: -webkit-linear-gradient(top, #c7a50e, #edce42);
	background: -moz-linear-gradient(top, #c7a50e, #edce42);
	background: -ms-linear-gradient(top, #c7a50e, #edce42);
	background: -o-linear-gradient(top, #c7a50e, #edce42);
}
.btn.warning:hover, a.btn.warning:hover, button.btn.warning:hover {
	border-top-color: #c2a215;
	background: #c2a215;
}
.btn.danger, a.btn.danger, button.btn.danger {
	border-top: 1px solid #e35d5d;
	background: #cc4745;
	background: -webkit-gradient(linear, left top, left bottom, from(#b50707), to(#cc4745));
	background: -webkit-linear-gradient(top, #b50707, #cc4745);
	background: -moz-linear-gradient(top, #b50707, #cc4745);
	background: -ms-linear-gradient(top, #b50707, #cc4745);
	background: -o-linear-gradient(top, #b50707, #cc4745);
}
.btn.danger:hover, a.btn.danger:hover, button.btn.danger:hover {
	border-top-color: #a31818;
	background: #a31818;
}
.btn.block, a.btn.block, button.btn.block {
	display: block;
	padding: 15px 0px;
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin: 10px auto;
}
.btn:focus {
	outline:none;
}

/* Images */
figure figcaption {
	font-size: 12px;
	padding:0px 10px;
}
.bordered img {
	border: 2px solid #888;
}
.shadowed img {
	box-shadow: 0px 0px 6px #888;
}
.polaroid {
	width: 346px;
	box-shadow: 0px 0px 6px #888;
}
.polaroid img {
	display: block;
	width:316px;
	height: 237px;
	border: 15px solid #fff;
}
.polaroid figcaption {
	margin:0;
	background-color: #fff;
	padding: 0px 15px 15px 15px;
}
img.left {
	display: inline-block;
	float: left;
	margin-right: 16px;
}
img.right {
	display: inline-block;
	float: right;
	margin-left: 16px;
}

/* TOOLTIP */
span.with-tooltip {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 250px;
  padding: 3px 8px;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #000;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 10%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 10%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
img.with-tooltip.right,
img.with-popover.right,
img.with-popover.left,
img.with-tooltip.left {
	float: none;
}

/* POPOVER */
span.with-popover {
	cursor: context-menu;
	border: 1px solid #e1e1e1;
	padding: 2px 2px 3px 2px;
	border-radius: 3px;
}
span.with-popover:hover,
span.with-popover.active {
	background-color: #e1e1e1;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1010;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  color:#fff;
  background-color: #333;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 8px #000;
          box-shadow: 0 0 8px #000;
  background-clip: padding-box;
}
.popover.in {
	display: block;
}
.popover.top {
  /* margin-top: -10px; */
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}
.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 10%;
  margin-left: -11px;
  border-top-color: #333;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #333;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #333;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #333;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 10%;
  margin-left: -11px;
  border-bottom-color: #333;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #333;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #333;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #333;
  border-right-width: 0;
  content: " ";
}

/* TABBED CONTENTS */
.with-tabs {
	margin: 16px 0px;
	clear: both;
}
.with-tabs .tabs {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0 0 19px 0;
	border-bottom: 1px solid #ddd;
	float: left;
	clear: both;
}
.with-tabs .tabs li {
	display: block;
	float:left;
	margin-bottom: -1px;
	border-radius: 0px 5px 0px 0px;
	background-color: white;
}
.with-tabs .tabs li.active {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: transparent;
}
.with-tabs .tabs li.active:hover {
	background-color: #fff;
}
.with-tabs .tabs li:hover {
	background-color: #e7e7e7;
}
.with-tabs .tabs li a,
.with-tabs .tabs li a:visited {
	display: block;
	padding:10px;
	text-decoration: none;
}
.with-tabs .tab-contents {
	border-bottom: 1px solid #ddd;
	clear: both;
}
.with-tabs .tab-contents section {
	padding: 0px 10px;
	display: none;
}
.with-tabs .tab-contents section.active {
	display: block;
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* ACCORDION */
.with-accordion .accordion-controls {
	font-size: 12px;
	text-align: right;
	margin: 0px 0px -5px 0px;
	padding-right: 10px;
}
.with-accordion .accordion-controls a,
.with-accordion .accordion-controls a:visited {
	display: inline-block;
	text-decoration: none;
	background-color:#eaeaea;
	padding:2px 5px;
	border-radius: 3px 3px 0px 0px;
	color:#9c9c9c;
}
.with-accordion .accordion-controls a:hover {
	background-color:#ddd;
	color:#5b5b5b;
}
.with-accordion .accordion-title {
	background-color: #e7e7e7;
	border: 1px solid #ddd;
	padding:10px;
	border-radius: 5px;
	margin-top:5px;
	cursor: pointer;
}
.with-accordion .accordion-title:first-child {
	margin-top:0;
}
.with-accordion .accordion-title.active {
	border-radius: 5px 5px 0px 0px;
	border-bottom: transparent;
}
.with-accordion .accordion-content {
	padding:0px 10px;
	border:1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	display: none;
}

/* MEDIA PLAYERS */
iframe, object {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/********* OLD DOWNLOAD BAR AND SUPPORT BUTTON ***********/
#downloads, .downloads_bar {
	font-size: small;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	width: 756px;
	margin: 10px 0px 0px 0px;
	padding:5px;
	background-color: #EBEBEB;
}
#downloads #dltitle, .downloads_bar .dltitle {
	width:20%;
	color: #333;
	font-size:150%;
	font-family: Helvetica, Arial, sans-serif;
	float: left;
	margin:0px;
}
#dlfiles, .dlfiles {
	width:80%;
	float:left;
	margin:0;
	padding: 0;
	list-style:none;
	text-align: right;
}
#downloads strong, .downloads_bar strong {
	font-size: 12px;
}
#downloads #dlfiles li, .downloads_bar .dlfiles li {
	float:right;
	font-size: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#downloads #dlfiles a, .downloads_bar .dlfiles a {
	text-decoration: none;
	display:block;
	padding:5px 10px 5px 30px;
	color: #333;
	width: 7em;
	margin-right: 0.5em;
	border: 1px solid #515151;
	background: #fff;
}
#downloads #dlfiles a:hover, .downloads_bar .dlfiles a:hover {
	color: #000;
	border: 1px solid #000;
	background: #fff;
}
#videoPlayer #downloads_bar #dlfiles .ol, .videoPlayer .downloads_bar .dlfiles .ol {
	list-style:none;
	text-align: left;
}
#support, .support {
	width: 132px;
	text-align: center;
}
#support a:link, .support a:link {
	text-decoration: none;
	font-size: 12px;
	display: block;
	padding:5px 10px 5px 10px;
	color: #333;
	margin-top:10px;
	margin-right: 0.5em;
	border: 1px solid #999999;
	background-color: #F2F2F2;
}
#support a:visited, .support a:visited {
	color: #333;
}
#support a:hover, .support a:hover {
	color: #000;
	border: 1px solid #000;
	background-color: #F9F9F9;
}

/* FOR PRINTING */
@media print {
	.with-accordion .accordion-title {
		border: 0;
		font-weight: bold;
	}
	.with-accordion .accordion-content {
		border: 0;
		display: block;
	}
}