{
    "plugins": [

        [ "prismjs", {
            "languages": [
                "javascript",
                "css",
                "markup",
                "clike",
                "java",
                "python",
                "r"
            ],
            "plugins": [
                "line-numbers",
                "normalize-whitespace"
            ],
            "theme": "default",
            "css": true
        } ]
    ]
}